.browser_preview {
    padding-left: 18px;
    background: url('../icons/page.gif') no-repeat left center;
}
.rms_settings{
    padding-left: 18px;
    background: url('../icons/setting_tools.png') no-repeat left center;
}
.rms_logs{
    padding-left: 18px;
    background: url('../icons/diff.svg') no-repeat left center;
}
.status_0{
    background-color: green;
    position: relative;
    left: 5px;
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
}

.status_1{
    background-color: red;
    position: relative;
    left: 5px;
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
}
.status_2{
    background-color: blue;
    position: relative;
    left: 5px;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
}

.rms_infos_list li{
    margin: .3em 0;
    padding: .1em;
    background-color: #f7f7f7;
}
.rms_infos_list strong{
    padding-right: 1em;
}
.rms_infos_list a{
    color: #006494;
}
.rms_infos_list a:hover,
.rms_infos_list a:focus{
    color: #064768;
    text-decoration: underline;
}
.rms_infos_list .region_add_infos{
    font-size: .9em;
    color: #8f8f8f;
    padding-left: 1em;
    font-style: italic;
}

div textarea#ctrl_rms_notice{ min-height: 30px !important; }
